In [35]:
import mysql.connector as connection
try:
    mydb=connection.connect(host='localhost',user='root',port='3306', passwd='Eisa@260265',use_pure=True)
    print(mydb.is_connected)
    mydb.close()
except exception as e:
    print(str(e))

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x00000161A1794D90>>

In [43]:
#import MySQLdb as mydb
import mysql.connector as connection

try:
    mydb=connection.connect(host='localhost',user='root', passwd='Eisa@260265',use_pure=True)
    print(mydb.is_connected)
    query='SHOW DATABASES'
    cursor=mydb.cursor()
    cursor.execute((query))
    print( cursor.fetchall())
    
except exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mypro',), ('mysql',), ('performance_schema',), ('sys',)]

In [45]:
import mysql.connector as connection

try:
    mydb=connection.connect(host='localhost',user='root', passwd='Eisa@260265',use_pure=True)
    print(mydb.is_connected)
    query='create database student'
    cursor=mydb.cursor()
    cursor.execute((query))
    #print( cursor.fetchall())
    print('database created')
    
except exception as e:
    mydb.close()
    print(str(e))

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x00000161A1966F40>>
database created

In [66]:
import mysql.connector as connection

try:
    mydb=connection.connect(host='localhost',database='student',user='root', passwd='Eisa@260265',use_pure=True)
    print(mydb.is_connected)
    query="CREATE TABLE Studentdetails (studentid INT(10) AUTO_INCREMENT PRIMARY KEY,Firstname VARCHAR(60),Lastname VARCHAR(60),Regdate DATE,Class VARCHAR(20),section VARCHAR(10))"
    cursor=mydb.cursor()
    cursor.execute((query))
    #print( cursor.fetchall())
    print('table created')
    
except exception as e:
    mydb.close()
    print(str(e))

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x00000161A1D43FD0>>
table created

In [68]:
import mysql.connector as connection

try:
    mydb=connection.connect(host='localhost',database='student',user='root', passwd='Eisa@260265',use_pure=True)
    print(mydb.is_connected)
    query="INSERT INTO Studentdetails VALUES('1001','aysha','manha','1990-11-11','first','c')"
    cursor=mydb.cursor()
    cursor.execute((query))
    #print( cursor.fetchall())
    print('values inserted')
    mydb.commit()
    
except exception as e:
    mydb.close()
    print(str(e))

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x00000161A1CEFEB0>>
values inserted

In [74]:
import mysql.connector as connection

try:
    mydb=connection.connect(host='localhost',database='student',user='root', passwd='Eisa@260265',use_pure=True)
    print(mydb.is_connected)
    query="UPDATE Studentdetails SET Firstname='ummer',Lastname='ah' WHERE studentid=1004"
    cursor=mydb.cursor()
    cursor.execute((query))
    print('values inserted')
    mydb.commit()
    query="select *from Studentdetails where studentid=1004;"
    cursor=mydb.cursor()
    cursor.execute((query))
    for result in cursor.fetchall():
        print(result)
    mydb.close()
except exception as e:
    #mydb.close()
    print(str(e))

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x00000161A1D353D0>>
values inserted
(1004, 'ummer', 'ah', datetime.date(1990, 11, 11), 'first', 'c')

In [27]:
import pandas as pd
movie=pd.read_csv('movie.csv')

In [28]:
movie.head()

   id                           moviename  year
0   1                     Youth in Revolt  2010
1   2  You Will Meet a Tall Dark Stranger  2010
2   3                        When in Rome  2010
3   4               What Happens in Vegas  2008
4   5                 Water For Elephants  2011

In [8]:
import mysql.connector as connection
import csv
import pandas as pd
movie=pd.read_csv('movie.csv')
try:
    mydb=connection.connect(host='localhost',user='root', passwd='Eisa@260265',use_pure=True)
    print(mydb.is_connected)
#creating new new database
    query="CREATE database movie2"
    cursor=mydb.cursor()
    cursor.execute((query))
    print('database created')
    mydb.close()
#creating new connection
    mydb=connection.connect(host='localhost',database='movie2', user='root', passwd='Eisa@260265',use_pure=True)
 #creating new table
    query="CREATE TABLE  moviedata (id INT(10) , moviename VARCHAR(60), year int(10));"
    cursor=mydb.cursor()
    cursor.execute((query))
    print('table created')
    
except exception as e:
    #mydb.close()
    print(str(e))

<bound method MySQLConnection.is_connected of <mysql.connector.connection.MySQLConnection object at 0x0000019BA8E44CD0>>

NameError: name 'exception' is not defined