In [21]:
import pymongo

# establish connection

In [7]:
DEFAULT_CONNECTION_URL='mongodb://localhost:27017'

In [15]:
DB_NAME='avodha_new'

In [16]:
client=pymongo.MongoClient(DEFAULT_CONNECTION_URL)
dataBase=client[DB_NAME]

In [17]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [18]:
dataBase

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'avodha_new')

In [20]:
#to see the databases
client.list_database_names()

['admin', 'config', 'local']

# creating collection

In [23]:
COLLECTION_NAME='avodha_courses'
collection=dataBase[COLLECTION_NAME]

In [29]:
#checking the collection
def check_coll(COLLECTION_NAME,DB_NAME,db):
    collection_list=db.list_collection_names()
    if COLLECTION_NAME in collection_list:
        print(f"collection : '{COLLECTION_NAME}' in database '{DB_NAME}' exists")
        return True
    print(f"collection : '{COLLECTION_NAME}' in database '{DB_NAME}' exists or there is no data")
    return False
_=check_coll(COLLECTION_NAME,DB_NAME,db=dataBase)

collection : 'avodha_courses' in database 'avodha_new' exists or there is no data

In [31]:
record={'name':'avodha','objective':'jap','courses':'ds,ai,flutter,accounting'}

In [32]:
collection.insert_one(record)

In [33]:
_=check_coll(COLLECTION_NAME,DB_NAME,db=dataBase)

collection : 'avodha_courses' in database 'avodha_new' exists

In [35]:
#inserting multiple records
listof_records=[
    {'name':'avodha','objective':'jap','courses':'accounting'},
    {'name':'avodha','objective':'jap','courses':'medical'},
    {'name':'avodha','objective':'jap','courses':'dm'},
    {'name':'avodha','objective':'jap','courses':'pyton'},
]

In [36]:
rec=collection.insert_many(listof_records)

In [37]:
inserted_IDs=rec.inserted_ids
for idx, unique_ids enumerate (inserted_IDs):
    print(f"{idx}, {unique_ids})

SyntaxError: invalid syntax (3334734333.py, line 2)