In [1]:
import sqlite3

In [2]:
db=sqlite3.connect('startup.db')

In [4]:
cursor=db.cursor()

In [5]:
#table creation
cursor.execute('CREATE TABLE employee(id int,name text,age int,salary real)')

In [10]:
  #insert values
cursor.execute("INSERT INTO employee VALUES (1, 'sali', 23, 140000)")

In [18]:
#getting data
data=cursor.execute('SELECT *FROM employee')
data

In [19]:
for i in data:
    print(i)

(1, 'sali', 23, 140000.0)
(2, 'kamli', 54, 160000.0)
(3, 'kamli', 54, 160000.0)
(4, 'kamli', 54, 160000.0)
(5, 'kamli', 54, 160000.0)
(6, 'kamli', 54, 160000.0)
(7, 'kamli', 54, 160000.0)
(8, 'kamli', 54, 160000.0)
(9, 'kamli', 54, 160000.0)
(10, 'kamli', 54, 160000.0)

In [16]:
cursor.execute("INSERT INTO employee(id,name,age,salary) VALUES(3,'kamli',54,160000)")
cursor.execute("INSERT INTO employee(id,name,age,salary) VALUES(4,'kamli',54,160000)")
cursor.execute("INSERT INTO employee(id,name,age,salary) VALUES(5,'kamli',54,160000)")
cursor.execute("INSERT INTO employee(id,name,age,salary) VALUES(6,'kamli',54,160000)")
cursor.execute("INSERT INTO employee(id,name,age,salary) VALUES(7,'kamli',54,160000)")
cursor.execute("INSERT INTO employee(id,name,age,salary) VALUES(8,'kamli',54,160000)")
cursor.execute("INSERT INTO employee(id,name,age,salary) VALUES(9,'kamli',54,160000)")
cursor.execute("INSERT INTO employee(id,name,age,salary) VALUES(10,'kamli',54,160000)")

In [20]:
db.commit()

In [21]:
db.close()